extends layout

block content
  #react-container
  script(type='text/javascript' src='/main.js')
  h1= title
  h2 Hello
  p Welcome to #{title}
  a(class='icon ion-social-twitter' href='#') Great
  div(id='react-container')
