extends layout

block content
  #react-container
  script(type='text/javascript' src='/main.js')
  section(class="portfolio-display" id="portfolio")
    h2 Portfolio
      div(class="row")
        div(class="col-md-3 col-sm-6 portfolio-item")
           figure(class="portfolio-image")
              img(class="img-responsive" src="assets/img/fox.jpg" height="300" width="400" alt="")
              figcaption(class="portfolio-caption") 6 Layers 
        div(class="col-md-3 col-sm-6 portfolio-item")
           figure(class="portfolio-image")
              img(class="img-responsive" src="assets/img/fox.jpg" height="300" width="400" alt="")
              figcaption(class="portfolio-caption") Brain
        div(class="col-md-3 col-sm-6 portfolio-item")
           figure(class="portfolio-image")
              img(class="img-responsive" src="assets/img/fox.jpg" height="300" width="400" alt="")
              figcaption(class="portfolio-caption") Fox