doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='apple-touch-icon' href='assets/img/apple-icon.png')
    link(href='assets/css/frameworks.css' rel='stylesheet')
    link(href='assets/css/style.css' rel='stylesheet')
    link(href='http://fonts.googlepis.com/css?family=Varela+Round' rel='stylesheet' type='text/css')
    link(rel='shortcut icon' href='assets/img/favicon.png?v=2' type='image/png')
    script(src='/common.js')
    | <!--[if 1t IE 9]> <script src="assets/js/html5shiv.min.js" type="text/javascript" ></script> <![endif]-->
  body
    nav(id="menu" class="navmenu navmenu-inverse navmenu-fixed-left offcanvas portfolio-menu" role="navigation")
        ul(class="nav navmenu-nav")
            li(class="active")
                a(href="#") Home
            li
                a(href="#") Shop
            li
                a(href="#") Speaking
    div(class="navbar navbar-default navbar-portfolio portfolio-topbar" style="")
        button(type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#menu" data-canvas="body")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
    main(class="portfolio-main" id="content" role="main")      
        block content
            
    script(type='text/javascript' src='assets/js/bootstrap.min.js')
    